[submodule "app/agent_module"]
	path = app/agent_module
	url = https://github.com/cr625/agent_module.git
	branch = proethica-integration
[submodule "papers/ISWC_2025"]
	path = papers/ISWC_2025
	url = https://github.com/cr625/ISWC_2025
